# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Ignore local variable files
*.tfvars
!*.tfvars.example

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak